<% include partials/header %>

<div class="container-fluid">

  <div class="day">
    <h4>Today</h4>
  </div>


    <% sessions.forEach(function(session) { %>
      <div class="unit d-flex flex-row bd-highlight mb-3">
         
        <div class="p-2 bd-highlight col-2">
            <div class="row hour"><%= session.time.getHours() + ":00" %></div>
            <div class="row hour"><%= session.time.getHours() + 1 + ":00" %></div>
        </div>
        <div class="p-2 bd-highlight col-7">
            <div class="row name" id="class-name"><a href="/index/<%= session._id %>"><%= session.title %></a></div>
            <div class="row instructor"><%= session.instructor %></div>
            <div class="row place"><%= session.location %></div>
      
        </div>
        <!--if currentUser not sign in -->
        <%session.players.forEach(function(player) {%>
          <!-- if(!player.id.equals(currentUser._id)){ %> -->
            <form action="/session/<% session._id %>?_method=PUT" method="POST">
              <div class="p-2 bd-highlight col-3"><input type="submit" class="btn btn-secondary btn-lg" id="book" value="BOOK"></div>
            </form>
            <!--else ( add toggle for the color)-->
          <!--  } else { %> -->
            <!-- <form action="/index/<% session._id %>?_method=DELETE" method="POST">
              <div class="p-2 bd-highlight col-3"><button type="button" class="btn btn-secondary btn-lg" id="button booked">CANCEL</button></div>
            </form> -->
           <!-- } %> -->
        <% }) %>
      </div>
    <% }); %>
    <div class="unit"></div>
    <div class="unit"></div>
    <div class="unit"></div>

</div>

<button class="mdc-fab" aria-label="Add">
  <span href="/index/new" class="mdc-fab__icon material-icons"><i class="fas fa-plus-circle"></i></span>
</button>

<!-- <div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="/index/new" type="button">
    <i class="material-icons">add</i>
  </a>
</div> -->

<!-- document.addEventListener('DOMContentLoaded', function() { 
  var elems = document.querySelectorAll('.fixed-action-btn');
  var instances = M.FloatingActionButton.init(elems, options);
});  -->

<script type="text/javascript" src="../public/js/index.js"></script>


<% include partials/footer %>
