<% include partials/header %>

<div class="container-fluid">
    
    <div>
        <button href="/index">Beck</button>
    </div>

  <div class="day">
    <h4>Today</h4>
  </div>


    <% mysessions.forEach(function(session) { %>
      <div class="unit d-flex flex-row bd-highlight mb-3">
         
        <div class="p-2 bd-highlight col-2">
            <div class="row hour"><%= session.time.getHours() + ":00" %></div>
            <div class="row hour"><%= session.time.getHours() + 1 + ":00" %></div>
        </div>
        <div class="p-2 bd-highlight col-7">
            <div class="row name"><%= session.title %></div>
            <div class="row instructor"><%= session.instructor %></div>
            <div class="row place"><%= session.location %></div>
      
        </div>
        <div class="p-2 bd-highlight col-3"><button type="button" class="btn btn-secondary btn-lg" id="button">CANCEL</button></div>
    
      </div>
    <% }); %>
    <div class="unit"></div>
    <div class="unit"></div>
    <div class="unit"></div>

</div>

<% include partials/footer %>