<% include partials/header %>

<div class="container show-container">
    <div class="thumbnail">          
            <h2><%= session.title %></h2>
    </div>
    <img class="image-responsive" src="<%= session.image %>">
    <div class="coption-full">
        <p>
            <em><a>Created By <%= session.createdBy.firstname + " " + session.createdBy.lastname %></a></em>
        </p>
        <h4><a><%= session.instructor %></a></h4>
        <p><%= session.time %></p>
        <p><%= session.location %></p>
    </div>
    <div class="well">
        <% session.players.forEach(function(player){ %> 
            <div class="row">
                <div class="col-md-12">
                    <strong><%= player.firstname %> <%=player.lastname %></strong>
                </div>
                <% if(currentUser && session.createdBy.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/index/<%= session._id %>/edit">Edit</a>
                        <form id="delete-form" action="/index/<%= session._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
            </div>
                <% } %>
    </div>            
        <% }) %>
    <div id="map"></div>
</div>

<script>
    function initMap() {
      var lat = <%= session.lat %>;
      var lng = <%= session.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= session.name %><br />
        <%= session.location %></strong>
        <p><%= session.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYLOJcQfFmChM9hvEjUlfsXB4DvgRrPqc&callback=initMap"></script>


<% include partials/footer %>